<%= form_with(model: @message, local: true, class: "card p-4 shadow-sm") do |f| %>
  <div class="mb-3">
    <%= f.label :chat_id, class: "form-label" %>
    <%= f.select :chat_id, @chats.collect { |chat| [chat.id, chat.id] }, { prompt: 'Select a Chat' }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :user_id, class: "form-label" %>
    <%= f.select :user_id, @users.collect { |user| ["#{user.first_name} #{user.last_name}", user.id] }, { prompt: 'Select a User' }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :body, class: "form-label" %>
    <%= f.text_area :body, class: "form-control", rows: 4 %>
  </div>

  <div class="text-end">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>


