<div class="container mt-4">
  <%= form_with(model: @user, local: true, html: { class: "needs-validation" }) do |f| %>
    
    <div class="mb-3">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.submit "Save User", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>