<%= form_with(model: @chat, local: true) do |f| %>
  
  <div class="mb-3">
    <%= f.label :sender_id, class: 'form-label' %>
    <%= f.select :sender_id, @users.collect { |user| [user.first_name + ' ' + user.last_name, user.id] }, prompt: 'Select a Sender', class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= f.label :receiver_id, class: 'form-label' %>
    <%= f.select :receiver_id, @users.collect { |user| [user.first_name + ' ' + user.last_name, user.id] }, prompt: 'Select a Receiver', class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= f.submit "Save Chat", class: "btn btn-primary" %>
  </div>

<% end %>

