<h2>Create New Chat</h2>

<%= form_with model: @chat, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :receiver_id, "Select Receiver", class: "form-label" %>
    <%= form.collection_select :receiver_id, User.all, :id, :email, prompt: "Select a user", class: "form-select" %>
  </div>

  <%= form.hidden_field :sender_id, value: current_user.id %>

  <div class="mb-3">
    <%= form.submit "Create Chat", class: "btn btn-primary" %>
  </div>
<% end %>
